.profile-image img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
}

.profile-image img:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.premium-section {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.premium-badge {
  background-color: #ffd700;
  color: #fff;
  font-weight: bold;
  padding: 12px 25px;
  border-radius: 50px;
  font-size: 1.3rem;
}

.credits {
  font-size: 1.2rem;
  color: #4b3c2f;
  font-weight: 500;
}

.premium-section a {
  font-size: 1.1rem;
  padding: 12px 30px;
  border-radius: 50px;
  background-color: #6f4f30;
  color: #fff;
  text-decoration: none;
  display: inline-block;
  margin-top: 20px;
}

.premium-section a:hover {
  background-color: #5c402e;
}
