<div class="container mt-4 mb-4 p-3">
  <div
    class="user-info d-flex flex-column flex-md-row justify-content-center align-items-start position-relative"
  >
    <div
      *ngIf="userHasPremiumRole()"
      class="premium-section position-absolute top-0 end-0 mt-3 me-3"
    >
      <span class="badge premium-badge">Premium User</span>
    </div>

    <div class="profile-image-container text-center mb-4 mb-md-0">
      <img
        [src]="profilePic"
        alt="Profile Image"
        class="rounded-circle profile-img"
      />
    </div>

    <div class="profile-details ms-md-4 w-100">
      <div class="profile-header text-center text-md-left mb-4">
        <h2 class="text-primary">{{ username }}</h2>
      </div>

      <div *ngIf="!isEditing" class="user-credentials mb-4">
        <div class="d-flex justify-content-start align-items-center mb-3">
          <span class="credentials-label">Email:</span>
          <span class="credentials-value">{{ userData?.email }}</span>
        </div>
        <div class="d-flex justify-content-start align-items-center mb-3">
          <span class="credentials-label">Username:</span>
          <span class="credentials-value">{{ username }}</span>
        </div>
        <div
          *ngIf="userHasPremiumRole()"
          class="d-flex justify-content-start align-items-center mb-3"
        >
          <span class="credentials-label">Credits:</span>
          <span class="credentials-value">{{ userCredits }}</span>
        </div>
      </div>

      <div *ngIf="isEditing">
        <form (ngSubmit)="saveChanges()" class="edit-profile-form">
          <div class="form-group">
            <label for="username" class="form-label">Username</label>
            <input
              type="text"
              id="username"
              [(ngModel)]="updatedData.username"
              name="username"
              class="form-control"
              placeholder="Enter your username"
            />
          </div>

          <div class="form-group mt-4">
            <label for="email" class="form-label">Email</label>
            <input
              type="email"
              id="email"
              [(ngModel)]="updatedData.email"
              name="email"
              class="form-control"
              placeholder="Enter your email"
            />
          </div>

          <div class="form-group mt-4">
            <label for="password" class="form-label">Password</label>
            <input
              type="password"
              id="password"
              [(ngModel)]="updatedData.password"
              name="password"
              class="form-control"
              placeholder="Enter your new password"
            />
          </div>

          <div class="d-flex justify-content-center mt-4">
            <button
              type="submit"
              class="btn btn-success me-3 rounded-pill px-4 py-2"
            >
              Save Changes
            </button>
            <button
              type="button"
              (click)="cancelEdit()"
              class="btn btn-danger rounded-pill px-4 py-2"
            >
              Cancel
            </button>
          </div>
        </form>
      </div>

      <div *ngIf="!isEditing" class="action-buttons mt-4 text-center">
        <div class="d-flex justify-content-center gap-4">
          <button class="editbtn" (click)="editProfile()">Edit Profile</button>

          <button
            *ngIf="!userHasPremiumRole()"
            (click)="upgradeToPremium()"
            class="btn btn-outline-dark rounded-pill px-4 py-2"
          >
            Upgrade to Premium
          </button>

          <div *ngIf="userHasPremiumRole()">
            <button class="btn btn-outline-dark rounded-pill px-4 py-2">
              <a href="/quiz"> Play Quiz </a>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
