<body>
  <div class="wrapper">
    <form (ngSubmit)="signIn()" #signInForm="ngForm">
      <h2>Login</h2>

      <div class="input-field">
        <input
          type="email"
          [(ngModel)]="user.email"
          name="email"
          required
          placeholder="Enter your email"
        />
      </div>

      <div class="input-field">
        <input
          type="password"
          [(ngModel)]="user.password"
          name="password"
          required
          placeholder="Enter your password"
        />
      </div>

      <div class="forget">
        <label for="remember">
          <input type="checkbox" [(ngModel)]="rememberMe" name="rememberMe" />
          <p>Remember me</p>
        </label>
        <a routerLink="/forgot-password">Forgot password?</a>
      </div>

      <button type="submit" [disabled]="!signInForm.form.valid">Log In</button>

      <div>
        <p>Already have an account? <a href="/signup">Sign up</a></p>
      </div>
    </form>
  </div>
</body>
