<body>
  <div class="wrapper">
    <form (ngSubmit)="signIn()" #signInForm="ngForm" novalidate>
      <h2>Login</h2>

      <div class="input-field">
        <input
          id="email"
          type="email"
          [(ngModel)]="user.email"
          name="email"
          #email="ngModel"
          required
          placeholder=" "
        />
        <label for="email">Email</label>
        <div *ngIf="signInForm.submitted && email.invalid" class="error">
          Email is required.
        </div>
      </div>

      <div class="input-field">
        <input
          id="password"
          type="password"
          [(ngModel)]="user.password"
          name="password"
          #password="ngModel"
          required
          placeholder=" "
        />
        <label for="password">Password</label>
        <div *ngIf="signInForm.submitted && password.invalid" class="error">
          Password is required.
        </div>
      </div>

      <div class="forget">
        <label>
          <input type="checkbox" [(ngModel)]="rememberMe" name="rememberMe" />
          <p>Remember me</p>
        </label>
        <a routerLink="/forgot-password">Forgot password?</a>
      </div>

      <button type="submit" [disabled]="!signInForm.form.valid">Log In</button>

      <div class="register">
        <p>
          Don't have an account?
          <a routerLink="/signup">Register</a>
        </p>
      </div>
    </form>
  </div>
</body>
