<div class="product-item">
  <figure class="product-style">
    <img [src]="product.image" [alt]="product.title" class="product-image" />
    <button type="button" class="add-to-cart" (click)="addToCart(product)">
      Add to Cart
    </button>
  </figure>
  <figcaption>
    <h3>{{ product.title }}</h3>
    <p *ngIf="product.author">{{ product.author }}</p>
    <div class="item-price">
      <span *ngIf="product.price" class="prev-price">${{ product.price }}</span>
      ${{ product.price }}
    </div>
  </figcaption>
</div>

<app-toast-notification
  [show]="showToast"
  title="Added to Cart"
  [message]="'Added ' + product.title + ' to your cart'"
  (onClose)="showToast = false"
></app-toast-notification>
