<div id="header-wrap">
  <!-- Header -->
  <header id="header">
    <div class="container-fluid">
      <div class="row align-items-center">
        <div class="col-md-2">
          <div class="main-logo">
            <a href="index.html">
              <img src="/images/logo.png" alt="Company Logo" />
            </a>
          </div>
        </div>
        <div class="col-md-10">
          <nav id="navbar" class="stellarnav">
            <ul class="menu-list">
              <li class="menu-item active"><a href="#home">Home</a></li>
              <li class="menu-item has-sub">
                <a href="#pages">Pages</a>
                <ul>
                  <li><a href="index.html">Home</a></li>
                  <li><a href="about.html">About</a></li>
                  <li><a href="styles.html">Styles</a></li>
                  <li><a href="blog.html">Blog</a></li>
                  <li><a href="post-single.html">Post Single</a></li>
                  <li><a href="store.html">Our Store</a></li>
                  <li><a href="product-single.html">Product Single</a></li>
                  <li><a href="contact.html">Contact</a></li>
                  <li><a href="thank-you.html">Thank You</a></li>
                </ul>
              </li>
              <li class="menu-item"><a href="#featured-books">Featured</a></li>
              <li class="menu-item"><a href="#popular-books">Popular</a></li>
              <li class="menu-item"><a href="#special-offer">Offer</a></li>
              <li class="menu-item"><a href="#latest-blog">Articles</a></li>
              <li class="menu-item">
                <a href="#download-app">Download App</a>
              </li>
              <li class="menu-item">
                <a routerLink="/view-orders">View Orders</a>
              </li>
              <li class="menu-item" *ngIf="!isAuthenticated">
                <button (click)="signIn()" class="sign-out-btn">
                  Sign In
                </button>
              </li>

              <li class="menu-item" *ngIf="isAuthenticated">
                <a href="/account" class="account-icon">
                  <img
                    src="images/icon.png"
                    alt="Account"
                    class="account-image"
                  />
                </a>
              </li>
              <li class="menu-item" *ngIf="isAdmin || isDebug">
                <a routerLink="/book-management">Manage Books</a>
              </li>
              <li class="menu-item" *ngIf="isAdmin || isDebug">
                <a routerLink="/order-management">Manage Orders</a>
              </li>
              <li class="menu-item" *ngIf="isAuthenticated">
                <button (click)="signOut()" class="sign-out-btn">
                  Sign Out
                </button>
              </li>
              <li class="menu-item">
                <div class="icons-wrapper">
                  <div class="notification-icon" (click)="toggleNotifications()">
                    <i class="fas fa-bell"></i>
                    <span class="badge" *ngIf="unreadCount > 0">{{ unreadCount }}</span>
                    <div class="notification-dropdown" *ngIf="isNotificationsVisible">
                      <div class="notification-header">
                        <h3>Notifications</h3>
                        <button class="clear-all" (click)="clearAllNotifications()">Clear All</button>
                      </div>
                      <ul>
                        <li *ngFor="let notification of notificationService.notifications$ | async"
                            [class.unread]="!notification.read">
                          <div class="notification-content">
                            <div>
                              <h4>{{ notification.title }}</h4>
                              <p>{{ notification.content }}</p>
                              <small>{{ notification.timestamp | date:'short' }}</small>
                            </div>
                            <button class="remove-notification" (click)="removeNotification(notification.id, $event)">
                              <i class="fas fa-times"></i>
                            </button>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>


                </div>
              </li>
              <li class="menu-item">
                <div class="icons-wrapper">
                  <div class="cart-icon" (click)="toggleCartDropdown()">
                    <i class="fas fa-shopping-cart"></i>
                    <span class="badge" *ngIf="cartCount > 0">{{ cartCount }}</span>
                  </div>
                  <app-cart-dropdown
                    [show]="isCartOpen"
                    (onClose)="isCartOpen = false"
                  ></app-cart-dropdown>
                </div>
              </li>
            </ul>

            <button class="hamburger" aria-label="Toggle Menu">
              <span class="bar"></span>
              <span class="bar"></span>
              <span class="bar"></span>
            </button>
          </nav>
        </div>
      </div>
    </div>
  </header>
</div>
