<div id="header-wrap">
  <!-- Header -->
  <header id="header">
    <div class="container-fluid">
      <div class="row align-items-center">
        <div class="col-md-2">
          <!-- Logo -->
          <div class="main-logo">
            <a href="index.html">
              <img src="images/main-logo.png" alt="Company Logo" />
            </a>
          </div>
        </div>
        <div class="col-md-10">
          <!-- Navigation -->
          <nav id="navbar" class="stellarnav">
            <ul class="menu-list">
              <li class="menu-item active"><a href="#home">Home</a></li>
              <li class="menu-item has-sub">
                <a href="#pages">Pages</a>
                <ul>
                  <li><a href="index.html">Home</a></li>
                  <li><a href="about.html">About</a></li>
                  <li><a href="styles.html">Styles</a></li>
                  <li><a href="blog.html">Blog</a></li>
                  <li><a href="post-single.html">Post Single</a></li>
                  <li><a href="store.html">Our Store</a></li>
                  <li><a href="product-single.html">Product Single</a></li>
                  <li><a href="contact.html">Contact</a></li>
                  <li><a href="thank-you.html">Thank You</a></li>
                </ul>
              </li>
              <li class="menu-item"><a href="#featured-books">Featured</a></li>
              <li class="menu-item"><a href="#popular-books">Popular</a></li>
              <li class="menu-item"><a href="#special-offer">Offer</a></li>
              <li class="menu-item"><a href="#latest-blog">Articles</a></li>
              <li class="menu-item">
                <a href="#download-app">Download App</a>
              </li>
            </ul>
            <!-- Hamburger Menu -->
            <button class="hamburger" aria-label="Toggle Menu">
              <span class="bar"></span>
              <span class="bar"></span>
              <span class="bar"></span>
            </button>
          </nav>
        </div>
      </div>
    </div>
  </header>
</div>
