<div id="header-wrap">
  <!-- Header -->
  <header id="header">
    <div class="container-fluid">
      <div class="row align-items-center">
        <div class="col-md-2">
          <div class="main-logo">
            <a href="index.html">
              <img src="/images/logo.png" alt="Company Logo" />
            </a>
          </div>
        </div>
        <div class="col-md-10">
          <nav id="navbar" class="stellarnav">
            <ul class="menu-list">
              <li class="menu-item active"><a href="#home">Home</a></li>
              <li class="menu-item"><a href="#featured-books">Featured</a></li>
              <li class="menu-item"><a href="#popular-books">Popular</a></li>
              <li class="menu-item"><a href="#special-offer">Offer</a></li>
              <li class="menu-item"><a href="/map">Our Stores</a></li>
              <li class="menu-item has-sub">
                <a href="/aboutUs">About Us</a>
              </li>
              <li class="menu-item">
                <a href="#download-app">Download App</a>
              </li>

              <li class="menu-item" *ngIf="!isAuthenticated">
                <button (click)="signIn()" class="sign-out-btn">Sign In</button>
              </li>

              <li class="menu-item" *ngIf="isAuthenticated">
                <a href="/account" class="account-icon">
                  <img
                    src="images/icon.png"
                    alt="Account"
                    class="account-image"
                  />
                </a>
              </li>

              <li class="menu-item" *ngIf="isAuthenticated">
                <button (click)="signOut()" class="sign-out-btn">
                  Sign Out
                </button>
              </li>

              <li class="menu-item" *ngIf="isAdmin">
                <a routerLink="/book-management">Manage Books</a>
              </li>
            </ul>
            <button class="hamburger" aria-label="Toggle Menu">
              <span class="bar"></span>
              <span class="bar"></span>
              <span class="bar"></span>
            </button>
          </nav>
        </div>
      </div>
    </div>
  </header>
</div>
