<body>
  <div class="wrapper">
    <form (ngSubmit)="signUp()">
      <h2>Create Account</h2>

      <div class="input-field">
        <input
          type="text"
          [(ngModel)]="user.username"
          name="username"
          required
        />
        <label>Enter your full name</label>
      </div>

      <div class="input-field">
        <input type="email" [(ngModel)]="user.email" name="email" required />
        <label>Enter your email</label>
      </div>

      <div class="input-field">
        <input
          type="password"
          [(ngModel)]="user.password"
          name="password"
          required
        />
        <label>Create a password</label>
      </div>

      <div class="input-field">
        <input type="password" name="confirmPassword" required />
        <label>Confirm your password</label>
      </div>

      <div class="terms">
        <label for="terms">
          <input type="checkbox" id="terms" required />
          <p>I agree to the <a href="#">Terms and Conditions</a></p>
        </label>
      </div>

      <button type="submit">Sign Up</button>

      <div class="login">
        <p>Already have an account? <a href="/signIn">Log In</a></p>
      </div>
    </form>
  </div>
</body>
