<footer id="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="footer-menu">
          <div class="company-brand">
            <h5>BALZAC</h5>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sagittis
              sed ptibus libero lectus non et psryroin. Amet sed lorem posuere
              sit iaculis amet, ac urna.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="footer-menu">
          <h5>About Us</h5>
          <ul class="menu-list">
            <li class="menu-item">
              <a href="#">Vision</a>
            </li>
            <li class="menu-item">
              <a href="#">Articles</a>
            </li>
            <li class="menu-item">
              <a href="#">Careers</a>
            </li>
            <li class="menu-item">
              <a href="#">Service Terms</a>
            </li>
            <li class="menu-item">
              <a href="#">Donate</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-2">
        <div class="footer-menu">
          <h5>Discover</h5>
          <ul class="menu-list">
            <li class="menu-item">
              <a href="#">Home</a>
            </li>
            <li class="menu-item">
              <a href="#">Books</a>
            </li>
            <li class="menu-item">
              <a href="#">Authors</a>
            </li>
            <li class="menu-item">
              <a href="#">Subjects</a>
            </li>
            <li class="menu-item">
              <a href="#">Advanced Search</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-2">
        <div class="footer-menu">
          <h5>My Account</h5>
          <ul class="menu-list">
            <li class="menu-item">
              <a href="#">Sign In</a>
            </li>
            <li class="menu-item">
              <a href="#">View Cart</a>
            </li>
            <li class="menu-item">
              <a href="#">My Wishlist</a>
            </li>
            <li class="menu-item">
              <a href="#">Track My Order</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-3">
        <div class="footer-menu">
          <h5>Help</h5>
          <ul class="menu-list">
            <li class="menu-item">
              <a href="#">Help Center</a>
            </li>
            <li class="menu-item">
              <a href="#">Report a Problem</a>
            </li>
            <li class="menu-item">
              <a href="#">Suggest Edits</a>
            </li>
            <li class="menu-item">
              <a href="#">Contact Us</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>

<div id="footer-bottom">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <p>© 2022 All rights reserved.</p>
      </div>
      <div class="col-md-6 text-right">
        <div class="social-links">
          <ul>
            <li>
              <a href="#"><i class="icon icon-facebook"></i></a>
            </li>
            <li>
              <a href="#"><i class="icon icon-twitter"></i></a>
            </li>
            <li>
              <a href="#"><i class="icon icon-youtube-play"></i></a>
            </li>
            <li>
              <a href="#"><i class="icon icon-behance-square"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
